@import "tailwindcss";

@theme {
  --color-primary: #020617;
  --color-neon-cyan: #22d3ee;
  --color-neon-blue: #3b82f6;
  --color-neon-violet: #8b5cf6;
}

body {
  background-color: var(--color-primary);
  color: white;
  font-family: 'Inter', system-ui, sans-serif;
  margin: 0;
  overflow: hidden;
}
